<ul class="list-unstyled container mx-auto py-4" style="width: 38%;">
  <% @articles.each do |article| %>
    <li>
      <h1 class="fs-2 text-primary fw-normal"><%= article.title %></h1>
      <p><%= truncate(article.content, length: 100) %></p>
    </li>
  <% end %>
</ul>
